@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var post in @Model.Posts)
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="text-center">@post.Title</h1>
            <div class="row justify-content-center">
                <div class="col-sm-3 align-end">
                    <h5>Post by : @post.Author</h5>
                </div>    
                <div class="col-sm-3">
                    <h5>Post by : @post.Date</h5>
                </div> 
            </div>
            <br>
            <p class="mt-6 text-center">@post.Content</p>
            
            <div class="jumbotron-footer">
                <hr>
                <div class="row">
                    <div class="col-md-2 offset-1">
                        <form asp-controller="Like" asp-action="Post" asp-route-itemid=@post.Id method="post">
                            <div class="form-group">
                                <button class="submit btn btn-success form-control">
                                    <i class="material-icons">thumb_up</i>
                                    <span>@post.Likes</span>
                                </button>
                            </div>
                        </form>                    
                    </div>
                    <div class="col-md-2 offset-1">
                        <form asp-controller="Dislike" asp-action="Post" asp-route-itemid=@post.Id method="post">
                            <div class="form-group">
                                <button class="submit btn btn-danger form-control">
                                    <i class="material-icons">thumb_down</i>
                                    <span>@post.DisLikes</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@{
    var prevDisabled = !Model.Posts.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Posts.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Posts.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Posts.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>