@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var post in @Model.Posts)
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="text-center">@post.Title</h1>
            <div class="row justify-content-center">
                <div class="col-sm-3 align-end">
                    <h5>Post by : @post.Author</h5>
                </div>    
                <div class="col-sm-3">
                    <h5>Post by : @post.Date</h5>
                </div> 
            </div>
            <br>
            <p class="mt-6 text-center">@post.Content</p>
            
            <div class="jumbotron-footer">
                <hr>
                <div class="row">
                    <form asp-controller="Like" asp-action="Post" asp-route-itemid=@post.Id method="post">
                        <div class="form-group col-md-2 offset-1">
                            <button class="submit form-control"><i class="material-icons">thumb_up</i></button>
                            <span>@post.Likes</span>
                        </div>
                    </form>
                    <form asp-controller="Dislike" asp-action="Post" asp-route-itemid=@post.Id method="post">
                        <div class="form-group col-md-2 offset-1">
                            <button class="submit form-control"><i class="material-icons">thumb_down</i></button>
                            <span>@post.DisLikes</span>
                        </div>
                    </form>
                    <div class="col-md-2 offset-6">
                        <a href="#">Go to the post</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
}